In [1]:
import pandas as pd
import numpy as np
import datetime
import random
import json

The output of your code should be the original DataFrame, but with missing values in the 'Revenue' column filled in as described, a new 'Rating Category' column, and the mean revenue for each 'Rating Category'. The mean revenue should be output as a pandas Series.

In [2]:
#movies_df = pd.read_clipboard(sep=',')
#movies_df.to_csv("movies_sample.csv", index=False)
movies_df = pd.read_csv("movies_sample.csv")

In [3]:
median_revenue = movies_df['Revenue'].median()

In [4]:
movies_df.Revenue.fillna(median_revenue, inplace=True)

In [5]:
def rate_films(x):
    if x >= 8.5:
        return "Excellent"
    elif x >= 7:
        return "Very Good"
    elif x >= 5.5:
        return "Good"
    else:
        return "Average"


movies_df["Rating Category"] = movies_df["Rating"].apply(rate_films)
movies_df

,Title,Genre,Year,Runtime,Rating,Revenue,Rating Category
0,Jurassic World,Action,2015,124,7.0,652.27,Very Good
1,Manchester by the Sea,Drama,2016,137,7.9,47.70,Very Good
2,The Circle,Thriller,2017,110,5.3,20.48,Average
3,The Avengers,Action,2012,143,8.1,623.28,Very Good
4,Toy Story 3,Animation,2010,103,8.3,414.98,Very Good
5,John Wick,Action,2014,101,7.2,43.00,Very Good
6,The Shape of Water,Fantasy,2017,123,7.4,63.86,Very Good
7,Inside Out,Animation,2015,95,8.2,356.45,Very Good
8,Frozen,Animation,2013,102,7.5,400.74,Very Good

In [6]:
movies_df.groupby("Rating Category")[['Revenue']].mean()

                 Revenue
Rating Category
Average           20.480
Very Good        325.285

In [7]:
### Generated solution
import pandas as pd
movies_df['Decade'] = movies_df['Year'].apply(lambda x: f"{x//10*10}_{x//10*10+9}")
movies_df['Revenue'] = movies_df.groupby(['Decade', 'Genre'])['Revenue'].transform(lambda x: x.fillna(x.median()))
movies_df['Rating Category'] = pd.cut(movies_df['Rating'], bins=[0,5.5,7,8.5,10], labels=['Average','Good','Very Good','Excellent'])
mean_revenue = movies_df.groupby('Rating Category').mean()['Revenue']

TypeError: Could not convert The Circle to numeric

for the revenue null value fills, the generated answer makes a great point:
 - The expression {movies_df.groupby(['Decade', 'Genre'])['Revenue'].transform(lambda x: x.fillna(x.median()))} is an example of a more sophisticated method of data imputation, which takes into account the context of the missing data.

- In this case, you're filling in missing 'Revenue' values with the median revenue of movies that are in the same genre and were released in the same decade. This makes sense because movies from the same genre and decade are more likely to have similar revenues compared to movies from a different genre or time period. This method provides a more accurate estimate of the missing values.

- On the other hand, median_revenue = movies['Revenue'].median() calculates the median revenue across all movies, regardless of their genre or release date. If you were to fill in missing values with this median, you'd be ignoring the context in which the data is missing. For example, you'd be treating a drama movie from the 1980s the same as an action movie from the 2020s, even though these types of movies might have very different revenues.

- Therefore, the first method is generally better because it's more likely to provide an accurate estimate of the missing data. However, the best method to use always depends on the specific dataset and problem at hand.

for the rating category, I also learned a bunch.
- movies_df['Rating Category'] = pd.cut(movies_df['Rating'], bins=[0,5.5,7,8.5,10], labels=['Average','Good','Very Good','Excellent'])
- This line of code is using the pd.cut() function to create a new column in the DataFrame called 'Rating Category'. The pd.cut() function is a way to create categories (or "bins") based on numeric values. In this case, it's being used to categorize the 'Rating' column into different groups based on the rating score.

- The bins argument is specifying the boundaries for each category. The list [0,5.5,7,8.5,10] means that the categories are:

- This line of code is essentially mapping each movie's rating to a category. It's an example of "binning" or "bucketing", which are common techniques used in data analysis and machine learning to deal with continuous variables. In this case, it's being used to simplify the 'Rating' column and make it easier to analyze.

### You are given a list of dictionaries where each dictionary represents a movie. Each dictionary has the following key-value pairs:

- 'Title': The title of the movie (string).
- 'Genre': The genre of the movie (string).
- 'Year': The year the movie was released (integer).
- 'Runtime': The length of the movie in minutes (integer).
- 'Rating': The average user rating out of 10 (float).
Your task is to write a Python function that takes in this list and a genre, and returns the average rating of movies in that genre.

In addition, write an SQL query that would perform the same operation on a table with the same columns.

### Libraries Needed

- Python: None
- SQL: None (but you need to know SQL syntax)
Inputs

### The Python function average_rating_by_genre(movies: List[dict], genre: str) -> float: takes in two arguments:

- movies: a list of dictionaries where each dictionary represents a movie with the key-value pairs described above.
- genre: a string representing the genre of the movies for which you want to calculate the average rating.
The SQL query should be written assuming you have a table named movies with the same columns as the dictionaries in the Python function.

## Expected Outputs

The Python function should return a float representing the average rating of movies in the input genre.

The SQL query should return a single row with a single column (which you can call 'Average Rating') that represents the average rating of movies in the specified genre.

In [ ]:
movies = [
    {'Title': 'Jurassic World', 'Genre': 'Action', 'Year': 2015, 'Runtime': 124, 'Rating': 7.0},
    {'Title': 'Inside Out', 'Genre': 'Animation', 'Year': 2015, 'Runtime': 95, 'Rating': 8.2},
    {'Title': 'Toy Story 3', 'Genre': 'Animation', 'Year': 2010, 'Runtime': 103, 'Rating': 8.3},
    {'Title': 'John Wick', 'Genre': 'Action', 'Year': 2014, 'Runtime': 101, 'Rating': 7.2},
    {'Title': 'The Circle', 'Genre': 'Thriller', 'Year': 2017, 'Runtime': 110, 'Rating': 5.3},
    {'Title': 'Manchester by the Sea', 'Genre': 'Drama', 'Year': 2016, 'Runtime': 137, 'Rating': 7.9},
    {'Title': 'The Avengers', 'Genre': 'Action', 'Year': 2012, 'Runtime': 143, 'Rating': 8.1},
    {'Title': 'Frozen', 'Genre': 'Animation', 'Year': 2013, 'Runtime': 102, 'Rating': 7.5},
    {'Title': 'The Shape of Water', 'Genre': 'Fantasy', 'Year': 2017, 'Runtime': 123, 'Rating': 7.4},
]

In [ ]:
genre_ratings=[]
def average_by_genre(dictionary, genre):
    for movie in dictionary:
        if movie['Genre'] == genre:
            genre_ratings.append(movie['Rating'])
    return(round(sum(genre_ratings) / len(genre_ratings),2))

In [ ]:
average_by_genre(movies, 'Fantasy')

In [ ]:
for genre in ['Action', 'Animation', 'Drama', 'Fantasy', 'Thriller']:
    print(f"The average rating of {genre} movies is {average_by_genre(movies, genre)}")

If I did this in SQL on a table called Movies, I would use the following query:

    SELECT Genre, AVG(Rating) AS Avg_Rating, COUNT(*) AS Num_Ratings

    FROM Movies

    GROUP BY Genre

    ORDER BY Avg_Rating DESC;

### You are tasked with implementing a MovieDatabase class. The class should be initialized with a list of movies, where each movie is a dictionary with the following key-value pairs:

- 'Title': The title of the movie (string).
- 'Genre': The genre of the movie (string).
- 'Year': The year the movie was released (integer).
- 'Runtime': The length of the movie in minutes (integer).
- 'Rating': The average user rating out of 10 (float).
The MovieDatabase class should have a method average_rating_by_genre(self, genre: str) -> float: which returns the average rating of movies in the specified genre.

### Libraries Needed

- Python: None
### Inputs

The MovieDatabase class should be initialized with a movies: List[dict] argument, where movies is a list of dictionaries where each dictionary represents a movie with the key-value pairs described above.

The average_rating_by_genre method should take in a single argument:

- genre: a string representing the genre of the movies for which you want to calculate the average rating.
Expected Outputs

The average_rating_by_genre method should return a float representing the average rating of movies in the input genre.

In [ ]:
class Movie:
    def __init__(self, dictionary):
        self.title = dictionary['Title']
        self.genre = dictionary['Genre']
        self.year = dictionary['Year']
        self.runtime = dictionary['Runtime']
        self.rating = dictionary['Rating']

In [ ]:
movie2 = Movie(movies[2])
movie2.genre

In [ ]:
movies_as_objects = []

for i in movies:
    movies_as_objects.append(Movie(i))

In [ ]:
movies_as_objects[0].rating

Generated solution:

In [ ]:
class MovieDatabase:
    def __init__(self, movies: List[dict]):
        self.movies = movies

    def average_rating_by_genre(self, genre: str) -> float:
        genre_movies = [movie for movie in self.movies if movie['Genre'] == genre]
        average_rating = sum(movie['Rating'] for movie in genre_movies) / len(genre_movies)
        return average_rating

This took a different approach than what I ended up making, as it created a more comprehensive class that could be used to do more than just find the average rating by genre. I think this is a good approach. I also like how the class is initialized with a list of dictionaries, which is the same format as the original data.

### Question:

You are given a small sample of a larger dataset, represented as a string that can be read into a pandas DataFrame using the `pd.read_clipboard()` function. The dataset represents sales data for a retail store and includes four columns: 'Product', 'Date', 'Sales', and 'Profit'.


Your task is to:

1. Read the data into a DataFrame.
2. Convert the 'Date' column to datetime type.
3. Replace any non-numeric characters in the 'Profit' column, then convert it to a numeric type.
4. Calculate the total sales and profit for each product, and store the result in a new DataFrame.

### Libraries Needed:

- pandas
- numpy

### Inputs:

- A string representing the dataset.

### Expected Outputs:

- A DataFrame representing the cleaned dataset.
- A DataFrame representing the total sales and profit for each product.

In [ ]:
# Importing libraries
import pandas as pd
import numpy as np

# Reading the data
data = """
Product	Date	Sales	Profit
Printer	2022-05-17	12	$100
Laptop	2022-05-18	10	$150
Printer	2022-05-19	8	$75
Monitor	2022-05-20	15	$120
Laptop	2022-05-21	7	$100
"""
df = pd.read_clipboard()

In [ ]:
df

In [ ]:
df.Date = df.Date.astype('datetime64[ns]')

df['Profit'] = df['Profit'].str.replace('$','').astype('int')
df['Sales'] = df['Sales'].astype('int')

In [ ]:
print(f"Total Sales: ${df.Sales.sum()}")
print(f"Total Profit: ${df.Profit.sum()}")

### Question:

Given a string of characters, write a function that calculates the frequency of each character in the string. Additionally, the function should return the character with the maximum frequency and the character with the minimum frequency.

The function signature should be `def char_frequency(string: str) -> dict, str, str:`. The function should return a

In [ ]:
def frequency_characters(s):
    split_string = s.split()
    character_frequency = {}
    for character in split_string:
        if character in character_frequency:
            character_frequency[character] += 1
        else:
            character_frequency[character] = 1
    return character_frequency

In [ ]:
frequency_characters("I am learning data science")

In [ ]:
def frequency_characters(s):
    split_string = s.split()
    character_frequency = {}
    for word in split_string:
        for character in word:
            if character in character_frequency:
                character_frequency[character] += 1
            else:
                character_frequency[character] = 1
    return character_frequency

In [ ]:
frequency_characters("The quick brown fox jumps over the lazy dog")

In [ ]:
character_freqs = frequency_characters("Honolulu")

# get the most frequent character, the number of times it occurs, and any other characters that occur the same number of times
max_freq = max(character_freqs.values())
most_frequent_characters = [k for k, v in character_freqs.items() if v == max_freq]
print(most_frequent_characters, max_freq)

### Question:

You are given a list of dictionaries representing student grades for different subjects. Each dictionary includes the student's name and their grades for math, science, and english. Here's an example:
```python
grades = grades = [
    {"name": "Alice", "math": 85, "science": 92, "english": 88},
    {"name": "Bob", "math": 90, "science": 87, "english": 95},
    {"name": "Charlie", "math": 82, "science": 89, "english": 91},
    {"name": "David", "math": 78, "science": 76, "english": 84},
    {"name": "Eve", "math": 92, "science": 90, "english": 93},
    {"name": "Frank", "math": 89, "science": 92, "english": 87},
    {"name": "Grace", "math": 91, "science": 88, "english": 93},
    {"name": "Henry", "math": 86, "science": 85, "english": 90},
    {"name": "Ivy", "math": 93, "science": 91, "english": 92},
    {"name": "Jack", "math": 88, "science": 86, "english": 89},
    {"name": "Kate", "math": 90, "science": 93, "english": 87},
    {"name": "Liam", "math": 92, "science": 90, "english": 88},
    {"name": "Mia", "math": 84, "science": 87, "english": 91},
    {"name": "Noah", "math": 91, "science": 82, "english": 89},
    {"name": "Olivia", "math": 89, "science": 88, "english": 90},
    {"name": "Patrick", "math": 87, "science": 91, "english": 88},
    {"name": "Quinn", "math": 86, "science": 90, "english": 87},
    {"name": "Ryan", "math": 92, "science": 89, "english": 92},
    {"name": "Sara", "math": 88, "science": 87, "english": 90},
    {"name": "Thomas", "math": 90, "science": 88, "english": 89}
]

```
#### Your task is to write a function that:

Calculates the average grade for each student across all subjects, and adds this to the student's dictionary under the key "average".
Returns a list of all students who have an average grade of 90 or higher. The list should contain only the names of the students, not their entire dictionaries.

In [ ]:
grades = grades = [
    {"name": "Alice", "math": 85, "science": 92, "english": 88},
    {"name": "Bob", "math": 90, "science": 87, "english": 95},
    {"name": "Charlie", "math": 82, "science": 89, "english": 91},
    {"name": "David", "math": 78, "science": 76, "english": 84},
    {"name": "Eve", "math": 92, "science": 90, "english": 93},
    {"name": "Frank", "math": 89, "science": 92, "english": 87},
    {"name": "Grace", "math": 91, "science": 88, "english": 93},
    {"name": "Henry", "math": 86, "science": 85, "english": 90},
    {"name": "Ivy", "math": 93, "science": 91, "english": 92},
    {"name": "Jack", "math": 88, "science": 86, "english": 89},
    {"name": "Kate", "math": 90, "science": 93, "english": 87},
    {"name": "Liam", "math": 92, "science": 90, "english": 88},
    {"name": "Mia", "math": 84, "science": 87, "english": 91},
    {"name": "Noah", "math": 91, "science": 82, "english": 89},
    {"name": "Olivia", "math": 89, "science": 88, "english": 90},
    {"name": "Patrick", "math": 87, "science": 91, "english": 88},
    {"name": "Quinn", "math": 86, "science": 90, "english": 87},
    {"name": "Ryan", "math": 92, "science": 89, "english": 92},
    {"name": "Sara", "math": 88, "science": 87, "english": 90},
    {"name": "Thomas", "math": 90, "science": 88, "english": 89}
]

In [ ]:
grades

In [ ]:
def top_students(dataset):
    studs = []
    for student in dataset:
        student['average'] = round((student['math'] + student['science'] + student['english']) / 3, 2)
        if student['average'] > 90:
            studs.append(student['name'])
    return studs

In [ ]:
grades

In [ ]:
top_students = top_students(grades)
top_students

#### If I want to do this with Classes

In [ ]:
class Student:
    def __init__(self, name, math_grade, science_grade, english_grade):
        self.name = name
        self.math_grade = math_grade
        self.science_grade = science_grade
        self.english_grade = english_grade

# Create instances of the Student class for the given students
students = [
    Student("Alice", 85, 92, 88),
    Student("Bob", 90, 87, 95),
    Student("Charlie", 82, 89, 96),
    Student("David", 78, 76, 84),
    Student("Eve", 92, 90, 93)
]

# Add 20 additional students
students.append(Student("Frank", 89, 92, 87))
students.append(Student("Grace", 91, 88, 93))
students.append(Student("Henry", 86, 85, 90))
students.append(Student("Ivy", 93, 91, 92))
students.append(Student("Jack", 88, 86, 89))
students.append(Student("Kate", 90, 93, 87))
students.append(Student("Liam", 92, 90, 88))
students.append(Student("Mia", 84, 87, 91))
students.append(Student("Noah", 91, 82, 89))
students.append(Student("Olivia", 89, 88, 90))
students.append(Student("Patrick", 87, 91, 88))
students.append(Student("Quinn", 86, 90, 87))
students.append(Student("Ryan", 92, 89, 92))
students.append(Student("Sara", 88, 87, 90))
students.append(Student("Thomas", 90, 88, 89))

# Print the list of students
for student in students:
    print(f"Name: {student.name}, Math: {student.math_grade}, Science: {student.science_grade}, English: {student.english_grade}")

In [ ]:
def find_studs(students):
    studs = []
    for student in students:
        # Use list comprehensions to find average grade across all subjects. append studs with names of students' whose average grade is greater than 90
        if sum([student.math_grade, student.science_grade, student.english_grade]) / 3 > 90:
            studs.append(student.name)
    return studs

In [ ]:
find_studs(students)

You have a dataset that represents the scores of a series of data science quizzes. However, you suspect that some of these scores are incorrect due to system errors. You want to clean this data by removing the outliers using the Z-score method and then calculate some basic statistics about the cleaned data.

Write a Python function that takes a Pandas DataFrame and a column name. The function should:

1. Calculate the Z-score for each score in the specified column of the DataFrame.
2. Consider scores to be outliers if their Z-scores are greater than 3 or less than -3.
3. Remove the outliers from the DataFrame.
4. Calculate and print the mean, median, and standard deviation of the cleaned scores.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
quiz_ids = ['q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10', 'q11', 'q12']

# Generate random scores between 0 and 100
scores = np.random.uniform(0, 100, 88)

# Create a DataFrame with 100 rows
df = pd.DataFrame({'quiz_id': quiz_ids + ['q' + str(i) for i in range(13, 101)],
                   'score': list(scores) + list(np.random.uniform(0, 100, 12))})

# Display the extended DataFrame
print(df)

In [ ]:
quiz_scores['z_score'] = (quiz_scores['score'] - quiz_scores['score'].mean()) / quiz_scores['score'].std()

z = (x - ) / 


<u>Where:</u>

- z is the z-score
- x is the observed value,
-  is the mean of the population, and
-  is the standard deviation of the population.

In [ ]:
quiz_scores

In [ ]:
quiz_scores['Outlier'] = False
quiz_scores.loc[quiz_scores['z_score'].abs() > 3, 'score']['Outlier'] = True
quiz_scores

In [ ]:
quiz_scores.loc[quiz_scores['Outlier'] == True]

In [ ]:
quiz_scores.drop(quiz_scores.loc[quiz_scores['Outlier'] == True].index, inplace=True)

No rows were outliers, but this is how it would be done.

In [ ]:
quiz_scores_mean = quiz_scores['score'].mean().round(2)
quiz_scores_median = quiz_scores['score'].median().round(2)
quiz_scores_std = quiz_scores['score'].std().round(2)

print(f"quiz score mean = {quiz_scores_mean}")
print(f"quiz score median = {quiz_scores_median}")
print(f"quiz score standard deviation = {quiz_scores_std}")

# Problem:

Imagine you have a database table named "sales" that stores sales data for an ecommerce company. The "sales" table has the following columns:

- order_id (integer): A unique identifier for each order.
- product_id (integer): A unique identifier for each product.
- quantity (integer): The quantity of the product that was sold in the order.
- sale_date (date): The date of the sale.

Your task is to write a SQL query to fetch data that will be used to calculate the average quantity sold per product per month. 

Additionally, implement a function in Python using the sqlite3 library that takes the SQL query as a string and a sqlite3 connection object, executes the query, fetches the results, and then calculates and prints the average quantity sold per product per month based on the fetched data.

# Libraries Needed: sqlite3, pandas

# Inputs: 

- A string that contains the SQL query.
- A sqlite3 connection object.

Example in Python code:

```python
query = """
SELECT product_id, strftime('%Y-%m', sale_date) as month, SUM(quantity) as total_quantity
FROM sales
GROUP BY product_id, month
"""

def avg_quantity_per_product_per_month(query, conn):
    # your code here

Expected Outputs:

Your function should print the average quantity sold per product per month. This can be done by grouping the fetched data by product and calculating the average quantity sold per month for each product.

### Simulating SQL DB

In [ ]:
import sqlite3
import pandas as pd

# Create a connection object
conn = sqlite3.connect(':memory:')

# Define a DataFrame to populate the sales table
data = {
    'order_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'product_id': [101, 102, 103, 101, 102, 103, 101, 103],
    'quantity': [2, 1, 3, 5, 2, 1, 4, 3],
    'sale_date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-02-01', '2023-02-02', '2023-03-01', '2023-03-02', '2023-03-03']
}

df = pd.DataFrame(data)

# Write the data to the sales table
df.to_sql('sales', conn, if_exists='replace', index=False)

In [ ]:
query = """
SELECT product_id, strftime('%Y-%m', sale_date) as month, SUM(quantity) as total_quantity
FROM sales
GROUP BY product_id, month
"""

In [ ]:
# run query on the database
monthly_sales = pd.read_sql(query, conn)

In [ ]:
monthly_sales

In [ ]:
def avg_quantity_per_product_per_month(query, conn):
    monthly_sales = pd.read_sql(query, conn)
    monthly_sales['avg_quantity'] = monthly_sales['total_quantity'].mean()
    return monthly_sales

In [ ]:
# Better approach here is to use groupby

def avg_quantity_per_product_per_month(query, conn):
    dataframe = pd.read_sql(query, conn)
    grouped_dataframe = dataframe.groupby("product_id")
    average_quantity = grouped_dataframe['total_quantity'].mean()
    print(average_quantity)

# Problem:

You are working on a Natural Language Processing (NLP) project where you need to extract some features from text data. You have a list of sentences and you are interested in the number of digits that occur in each sentence.

Write a Python function named `count_digits` that takes a list of strings (sentences) as input and returns a list of integers representing the number of digits in each sentence.

# Libraries Needed: re (Regular expressions)

# Inputs:

A list of strings.

Example in Python code:

```python
sentences = [
    "I have 2 dogs and 1 cat.",
    "In 2022, the population of the world is estimated to be over 7.9 billion.",
    "I was born on 12/12/2000."
]

counts = count_digits(sentences)

In [ ]:
sentences = [
    "I have 2 dogs and 1 cat.",
    "In 2022, the population of the world is estimated to be over 7.9 billion.",
    "I was born on 12/12/2000.",
    "In 1492, Columbus sailed the ocean blue.",
    "The number 7 is considered lucky in many cultures.",
    "There are 12 months, 52 weeks, and 365 days in a year.",
    "Test without digits"
]

In [ ]:

def count_digits(sentences):
    sentences_counts = []
    for sentence in sentences:
        digit_counter = 0
        for word in sentence.split():
            for character in word:
                if character.isdigit():
                    digit_counter += 1
        sentences_counts.append(digit_counter)
    return sentences_counts

In [ ]:
count_digits(sentences)

# Problem:

You are provided with a dataset that includes stock prices for a particular company, and you are interested in visualizing the stock's closing price over time. 

The stock data is provided as a CSV string, where each row represents one day of trading. Each row includes the date, opening price, high price, low price, and closing price.

Your task is to:
1. Parse the CSV string into a pandas DataFrame.
2. Convert the 'Date' column into a datetime data type.
3. Set the 'Date' column as the index of the DataFrame.
4. Plot a line graph of the closing prices over time.

Here's the CSV data:

```csv
"Date,Open,High,Low,Close
2022-01-03,140.11,141.52,139.67,141.12
2022-01-04,141.50,141.91,140.41,140.91
2022-01-05,140.40,141.68,140.26,141.20
2022-01-06,141.20,142.15,140.13,140.13"

In [ ]:
import pandas as pd

In [ ]:
tick = pd.read_clipboard(sep=',')

In [ ]:
tick

In [ ]:
tick['Date'] = tick['Date'].astype('datetime64[ns]')

In [ ]:
tick

In [ ]:
import plotly.express as px
px.line(tick, x='Date', y='Close', title='Stock Price')

# Problem:

You are working as a Data Scientist at an e-commerce company and you have the historical transaction data for customers. The company wants to understand the behavior of the customers based on their purchasing frequency and amount spent.

Given a dataset of transaction records, where each record includes a customer ID, transaction date, and transaction amount, you need to calculate the following for each customer:
- The total amount spent,
- The total number of transactions,
- The average transaction amount,
- The frequency of transactions (defined as the total number of transactions divided by the number of unique days on which transactions occurred).

Finally, perform a k-means clustering (with k=3) on the calculated features to segment the customers.

The input transaction data is provided as a CSV string as follows:

In [ ]:
import pandas as pd
from io import StringIO

# Copy the entire CSV data (including headers) to your clipboard before running this code
# Original CSV data
data = """Customer_ID,Transaction_Date,Transaction_Amount
C001,2022-01-01,100.50
C002,2022-01-01,200.00
C001,2022-01-02,150.00
C002,2022-01-03,300.00
C001,2022-02-01,200.00
C002,2022-02-01,150.00
C001,2022-03-01,300.00
C002,2022-03-02,400.00
C001,2022-04-01,180.50
C002,2022-04-02,250.00
C003,2022-04-03,320.00
C001,2022-05-01,210.00
C002,2022-05-02,180.00
C003,2022-05-03,370.00
C001,2022-06-01,220.00
C002,2022-06-02,190.00
C003,2022-06-03,410.00
C001,2022-07-01,230.00
C002,2022-07-02,220.00
C003,2022-07-03,450.00
C001,2022-08-01,240.00
C002,2022-08-02,210.00
C003,2022-08-03,490.00
C001,2022-09-01,250.00
C002,2022-09-02,230.00
C003,2022-09-03,530.00
C001,2022-10-01,260.00
C002,2022-10-02,250.00
C003,2022-10-03,570.00
C001,2022-11-01,270.00
C002,2022-11-02,270.00
C003,2022-11-03,610.00
C001,2022-12-01,280.00
C002,2022-12-02,290.00
C003,2022-12-03,650.00
C001,2023-01-01,290.00
C002,2023-01-02,310.00
C003,2023-01-03,690.00
C001,2023-02-01,300.00
C002,2023-02-02,330.00
C003,2023-02-03,730.00
C001,2023-03-01,310.00
C002,2023-03-02,350.00
C003,2023-03-03,770.00
C001,2023-04-01,320.00
C002,2023-04-02,370.00
C003,2023-04-03,810.00
C001,2023-05-01,330.00
C002,2023-05-02,390.00
C003,2023-05-03,850.00
C001,2023-06-01,340.00
C002,2023-06-02,410.00
C003,2023-06-03,890.00
C001,2023-07-01,350.00
C002,2023-07-02,430.00
C003,2023-07-03,930.00
C001,2023-08-01,360.00
C002,2023-08-02,450.00
C003,2023-08-03,970.00
C001,2023-09-01,370.00
C002,2023-09-02,470.00
C003,2023-09-03,1010.00
C001,2023-10-01,380.00
C002,2023-10-02,490.00
C003,2023-10-03,1050.00
C001,2023-11-01,390.00
C002,2023-11-02,510.00
C003,2023-11-03,1090.00
C001,2023-12-01,400.00
C002,2023-12-02,530.00
C003,2023-12-03,1130.00
"""

# Additional data for new customers (C004 to C023)
additional_data = """
C004,2022-01-01,120.50
C005,2022-01-01,220.00
C006,2022-01-02,130.00
C004,2022-01-03,260.00
C005,2022-02-01,240.00
C006,2022-02-01,130.00
C004,2022-03-01,330.00
C005,2022-03-02,440.00
C006,2022-04-01,280.50
C007,2022-04-02,350.00
C008,2022-04-03,420.00
C004,2022-05-01,310.00
C005,2022-05-02,280.00
C006,2022-05-03,470.00
C007,2022-06-01,320.00
C008,2022-06-02,390.00
C009,2022-06-03,510.00
C004,2022-07-01,330.00
C005,2022-07-02,320.00
C006,2022-07-03,550.00
C007,2022-08-01,340.00
C008,2022-08-02,310.00
C009,2022-08-03,590.00
C010,2022-09-01,350.00
C011,2022-09-02,430.00
C012,2022-09-03,630.00
C013,2022-10-01,360.00
C014,2022-10-02,420.00
C015,2022-10-03,570.00
C010,2022-11-01,390.00
C011,2022-11-02,520.00
C012,2022-11-03,710.00
C013,2022-12-01,400.00
C014,2022-12-02,530.00
C015,2022-12-03,770.00
C010,2023-01-01,410.00
C011,2023-01-02,540.00
C012,2023-01-03,810.00
C013,2023-02-01,430.00
C014,2023-02-02,570.00
C015,2023-02-03,870.00
C010,2023-03-01,460.00
C011,2023-03-02,610.00
C012,2023-03-03,910.00
C013,2023-04-01,490.00
C014,2023-04-02,650.00
C015,2023-04-03,970.00
C010,2023-05-01,510.00
C011,2023-05-02,690.00
C012,2023-05-03,1010.00
C013,2023-06-01,540.00
C014,2023-06-02,720.00
C015,2023-06-03,1050.00
C010,2023-07-01,570.00
C011,2023-07-02,750.00
C012,2023-07-03,1090.00
C013,2023-08-01,600.00
C014,2023-08-02,790.00
C015,2023-08-03,1130.00
C010,2023-09-01,630.00
C011,2023-09-02,830.00
C012,2023-09-03,1170.00
C013,2023-10-01,660.00
C014,2023-10-02,870.00
C015,2023-10-03,1210.00
C010,2023-11-01,690.00
C011,2023-11-02,910.00
C012,2023-11-03,1250.00
C013,2023-12-01,720.00
C014,2023-12-02,950.00
C015,2023-12-03,1290.00
"""

# Combine the original and additional data
data += additional_data

# Read the data using pandas
cust = pd.read_csv(StringIO(data))

In [ ]:
cust

In [ ]:
cust.groupby('Customer_ID')['Transaction_Amount'].sum()

In [ ]:
totals = cust.groupby('Customer_ID', as_index=False)[['Transaction_Amount']].sum()
totals.columns = ['Customer_ID', 'Total_Transaction_Amount']

In [ ]:
averages = cust.groupby('Customer_ID', as_index=False)[['Transaction_Amount']].mean()
averages.columns = ['Customer_ID', 'Average_Transaction_Amount']

In [ ]:
counts = cust.groupby('Customer_ID', as_index=False)[['Transaction_Amount']].count()
counts.columns = ['Customer_ID', 'Count_Transaction_Amount']

In [ ]:
unique_days = cust.groupby('Customer_ID', as_index=False)[['Transaction_Date']].nunique()   
unique_days.columns = ['Customer_ID', 'Count_Unique_Days']

In [ ]:
#make a df using merge on totals, averages, counts, and unique_days
aggs = totals.merge(averages, on='Customer_ID')
aggs = aggs.merge(counts, on='Customer_ID')
aggs = aggs.merge(unique_days, on='Customer_ID')
aggs

In [ ]:
aggs['Purchase_Frequency'] = aggs['Count_Transaction_Amount'] / aggs['Count_Unique_Days']
aggs

In [ ]:
!pip install sklearn

In [ ]:
# K Means on the customers
from sklearn.cluster import KMeans

# Make three clusters from the aggs dataframe. We want to batch customers, or "Customer_IDs" into three groups
kmeans = KMeans(n_clusters=3).fit(aggs.drop('Customer_ID', axis=1))

# Problem:

You work as a data scientist at a healthcare company. Your current task is to analyze the date and time of patient appointments. You are given a CSV string of patient appointment data, with each row containing a patient ID and the date and time of their appointment in 'YYYY-MM-DD HH:MM:SS' format.

Your task is to write a Python snippet that:
- Reads this CSV data into a pandas DataFrame.
- Transforms the date and time into a datetime object.
- Extracts the day of the week from the datetime object (0 is Monday and 6 is Sunday).
- Counts the number of appointments each patient had on each day of the week.
- Adds up all the Monday appointments and computes the average number of Monday appointments per patient.

The dataset is provided as follows:

```csv
"Patient_ID,Appointment_Date
P001,2023-01-01 10:30:00
P002,2023-01-01 11:00:00
P001,2023-01-02 09:00:00
P002,2023-01-03 15:30:00
P001,2023-01-04 10:00:00
P002,2023-01-05 14:00:00
P001,2023-01-06 10:30:00
P002,2023-01-07 09:30:00"

In [29]:
import pandas as pd
from io import StringIO

data_string = '''Patient_ID,Appointment_Date
P001,2023-01-01 10:30:00
P002,2023-01-01 11:00:00
P001,2023-01-02 09:00:00
P002,2023-01-03 15:30:00
P001,2023-01-04 10:00:00
P002,2023-01-05 14:00:00
P001,2023-01-06 10:30:00
P002,2023-01-07 09:30:00'''

patients = pd.read_csv(StringIO(data_string), sep=",")
patients

  Patient_ID     Appointment_Date
0       P001  2023-01-01 10:30:00
1       P002  2023-01-01 11:00:00
2       P001  2023-01-02 09:00:00
3       P002  2023-01-03 15:30:00
4       P001  2023-01-04 10:00:00
5       P002  2023-01-05 14:00:00
6       P001  2023-01-06 10:30:00
7       P002  2023-01-07 09:30:00

In [37]:
patients['Appointment_Date'] = patients['Appointment_Date'].astype('datetime64[ns]')
# patients['Appointment_Weekday'] is weekday as a number where monday is 0 and sunday is 6
patients['Appointment_Weekday'] = patients['Appointment_Date'].dt.weekday

In [38]:
patients

  Patient_ID    Appointment_Date  Appointment_Weekday
0       P001 2023-01-01 10:30:00                    6
1       P002 2023-01-01 11:00:00                    6
2       P001 2023-01-02 09:00:00                    0
3       P002 2023-01-03 15:30:00                    1
4       P001 2023-01-04 10:00:00                    2
5       P002 2023-01-05 14:00:00                    3
6       P001 2023-01-06 10:30:00                    4
7       P002 2023-01-07 09:30:00                    5

In [42]:
patients.groupby(['Patient_ID', 'Appointment_Weekday'],as_index=False).count()

  Patient_ID  Appointment_Weekday  Appointment_Date
0       P001                    0                 1
1       P001                    2                 1
2       P001                    4                 1
3       P001                    6                 1
4       P002                    1                 1
5       P002                    3                 1
6       P002                    5                 1
7       P002                    6                 1

In [43]:
mondays = patients.loc[patients['Appointment_Weekday'] == 0]
mondays.groupby('Patient_ID', as_index=False).count()

  Patient_ID  Appointment_Date  Appointment_Weekday
0       P001                 1                    1

### Question
You have a CSV dataset containing information about 100 articles. Each article has an ID, a title, a category (e.g., 'technology', 'sports', 'culture', etc.), and the number of views it has received.

You're tasked to perform the following operations using list comprehensions:

1. Extract all article titles that belong to the 'technology' category.
2. From the list of technology articles, extract the ones that have received more than 5000 views.
3. Create a new list of all articles (from the entire dataset) with their titles capitalized.

Here's the format of the data:




Libraries Needed: pandas, io

#### Inputs:

A string representing a CSV file that includes the following columns:
Article_ID: an integer that uniquely identifies each article
Title: a string representing the title of the article
Category: a string representing the category of the article
Views: an integer representing the number of views the article has received
#### Expected Outputs:

A list of strings representing the titles of articles in the 'technology' category.
A list of strings representing the titles of technology articles that have received more than 5000 views.
A list of strings representing the titles of all articles, with each title capitalized.

In [2]:
# Here's the CSV data
data_string = '''Article_ID,Title,Category,Views\n''' + '\n'.join([f'{i+1},Article {i+1},{["Technology","Sports","Culture"][i%3]},{(i+1)*50}' for i in range(100)])

# Your code goes here...

In [3]:
import pandas as pd
from io import StringIO
# Load the data into a pandas DataFrame
articles = pd.read_csv(StringIO(data_string), sep=",")
articles

    Article_ID        Title    Category  Views
0            1    Article 1  Technology     50
1            2    Article 2      Sports    100
2            3    Article 3     Culture    150
3            4    Article 4  Technology    200
4            5    Article 5      Sports    250
..         ...          ...         ...    ...
95          96   Article 96     Culture   4800
96          97   Article 97  Technology   4850
97          98   Article 98      Sports   4900
98          99   Article 99     Culture   4950
99         100  Article 100  Technology   5000

[100 rows x 4 columns]

In [4]:
#List of strings for article titles in the Technology category
articles.loc[articles['Category'] == 'Technology']['Title'].tolist()

['Article 1',
 'Article 4',
 'Article 7',
 'Article 10',
 'Article 13',
 'Article 16',
 'Article 19',
 'Article 22',
 'Article 25',
 'Article 28',
 'Article 31',
 'Article 34',
 'Article 37',
 'Article 40',
 'Article 43',
 'Article 46',
 'Article 49',
 'Article 52',
 'Article 55',
 'Article 58',
 'Article 61',
 'Article 64',
 'Article 67',
 'Article 70',
 'Article 73',
 'Article 76',
 'Article 79',
 'Article 82',
 'Article 85',
 'Article 88',
 'Article 91',
 'Article 94',
 'Article 97',
 'Article 100']

In [5]:
articles.loc[(articles['Category'] == 'Technology') & (articles['Views'] > 500)]['Title'].tolist()

['Article 13',
 'Article 16',
 'Article 19',
 'Article 22',
 'Article 25',
 'Article 28',
 'Article 31',
 'Article 34',
 'Article 37',
 'Article 40',
 'Article 43',
 'Article 46',
 'Article 49',
 'Article 52',
 'Article 55',
 'Article 58',
 'Article 61',
 'Article 64',
 'Article 67',
 'Article 70',
 'Article 73',
 'Article 76',
 'Article 79',
 'Article 82',
 'Article 85',
 'Article 88',
 'Article 91',
 'Article 94',
 'Article 97',
 'Article 100']

In [6]:
#A list of strings representing the titles of all articles, with each title capitalized.
articles['Title'].str.upper().tolist()

['ARTICLE 1',
 'ARTICLE 2',
 'ARTICLE 3',
 'ARTICLE 4',
 'ARTICLE 5',
 'ARTICLE 6',
 'ARTICLE 7',
 'ARTICLE 8',
 'ARTICLE 9',
 'ARTICLE 10',
 'ARTICLE 11',
 'ARTICLE 12',
 'ARTICLE 13',
 'ARTICLE 14',
 'ARTICLE 15',
 'ARTICLE 16',
 'ARTICLE 17',
 'ARTICLE 18',
 'ARTICLE 19',
 'ARTICLE 20',
 'ARTICLE 21',
 'ARTICLE 22',
 'ARTICLE 23',
 'ARTICLE 24',
 'ARTICLE 25',
 'ARTICLE 26',
 'ARTICLE 27',
 'ARTICLE 28',
 'ARTICLE 29',
 'ARTICLE 30',
 'ARTICLE 31',
 'ARTICLE 32',
 'ARTICLE 33',
 'ARTICLE 34',
 'ARTICLE 35',
 'ARTICLE 36',
 'ARTICLE 37',
 'ARTICLE 38',
 'ARTICLE 39',
 'ARTICLE 40',
 'ARTICLE 41',
 'ARTICLE 42',
 'ARTICLE 43',
 'ARTICLE 44',
 'ARTICLE 45',
 'ARTICLE 46',
 'ARTICLE 47',
 'ARTICLE 48',
 'ARTICLE 49',
 'ARTICLE 50',
 'ARTICLE 51',
 'ARTICLE 52',
 'ARTICLE 53',
 'ARTICLE 54',
 'ARTICLE 55',
 'ARTICLE 56',
 'ARTICLE 57',
 'ARTICLE 58',
 'ARTICLE 59',
 'ARTICLE 60',
 'ARTICLE 61',
 'ARTICLE 62',
 'ARTICLE 63',
 'ARTICLE 64',
 'ARTICLE 65',
 'ARTICLE 66',
 'ARTICLE 67',
 'ARTICLE 68',
 'ARTICLE 69',
 'ARTICLE 70',
 'ARTICLE 71',
 'ARTICLE 72',
 'ARTICLE 73',
 'ARTICLE 74',
 'ARTICLE 75',
 'ARTICLE 76',
 'ARTICLE 77',
 'ARTICLE 78',
 'ARTICLE 79',
 'ARTICLE 80',
 'ARTICLE 81',
 'ARTICLE 82',
 'ARTICLE 83',
 'ARTICLE 84',
 'ARTICLE 85',
 'ARTICLE 86',
 'ARTICLE 87',
 'ARTICLE 88',
 'ARTICLE 89',
 'ARTICLE 90',
 'ARTICLE 91',
 'ARTICLE 92',
 'ARTICLE 93',
 'ARTICLE 94',
 'ARTICLE 95',
 'ARTICLE 96',
 'ARTICLE 97',
 'ARTICLE 98',
 'ARTICLE 99',
 'ARTICLE 100']

"Date,Sales
2023-01-01, 1000
2023-01-02, 1200
2023-01-03, 1100
...
2023-04-10, 1500"

In [12]:
data_string = '''Date,Sales\n''' + '\n'.join([f'2023-01-{str(i+1).zfill(2)},{(i+1)*100}' for i in range(100)])

Problem Overview:

You are given a DataFrame that contains information about a company's sales data. The DataFrame has the following columns: 'Product', 'Quantity Sold', 'Sales', and 'Date'. 'Product' is the name of the product sold, 'Quantity Sold' is the number of units sold, 'Sales' is the total sales in dollars, and 'Date' is the date of the sale.

Your task is to write a function that calculates the top 3 products with the highest total sales in a given month and year.

The function should return a new DataFrame with the product names and their total sales, sorted in descending order of sales.

Libraries Needed:

python
Copy code
import pandas as pd
from pandas import Timestamp
Inputs:

The function will take the following inputs:

A DataFrame 'df' with the sales data. The DataFrame will have the following columns:
'Product': string, the name of the product sold.
'Quantity Sold': integer, the number of units of the product sold.
'Sales': float, the total sales of the product in dollars.
'Date': Timestamp, the date of the sale.
'month': integer, the month for which to calculate the top products.
'year': integer, the year for which to calculate the top products.
Expected Outputs:

The function should return a new DataFrame with two columns: 'Product' and 'Total Sales'. The DataFrame should contain the top 3 products with the highest total sales in the given month and year, sorted in descending order of total sales. If there are fewer than 3 products sold in the given month and year, the DataFrame should contain all the products sold.

In [18]:
data = [
    {"Product": "A", "Quantity Sold": 10, "Sales": 100.0, "Date": "2023-01-01"},
    {"Product": "B", "Quantity Sold": 5, "Sales": 50.0, "Date": "2023-01-01"},
    {"Product": "C", "Quantity Sold": 8, "Sales": 80.0, "Date": "2023-01-01"},
    {"Product": "A", "Quantity Sold": 7, "Sales": 70.0, "Date": "2023-01-02"},
    {"Product": "B", "Quantity Sold": 2, "Sales": 20.0, "Date": "2023-01-02"},
    {"Product": "A", "Quantity Sold": 5, "Sales": 50.0, "Date": "2023-02-01"},
    {"Product": "B", "Quantity Sold": 10, "Sales": 100.0, "Date": "2023-02-01"},
    {"Product": "C", "Quantity Sold": 6, "Sales": 60.0, "Date": "2023-02-01"},
]
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

In [21]:
def find_top_products(df, month, year):
    # Filter the sales by given month and year
    filtered_df = df[(df['Date'].dt.month == month) & (df['Date'].dt.year == year)]
    
    # Create a grouped DataFrame by summing the sales for each product
    group_df = filtered_df.groupby('Product')['Sales'].sum()
    
    # Sort the products by their total sales and select the top 3
    top_products = group_df.sort_values(ascending=False).head(3)
    
    # Results in a DataFrame format
    result = pd.DataFrame(top_products).reset_index().rename(columns={'Product': 'Product', 'Sales': 'Total Sales'})
    
    return result

In [24]:
find_top_products(df, 2, 2023)

  Product  Total Sales
0       B        100.0
1       C         60.0
2       A         50.0

In [25]:
find_top_products(df, 1, 2023)

  Product  Total Sales
0       A        170.0
1       C         80.0
2       B         70.0

#### Problem Overview:

You are given a NumPy array that contains the heights (in cm) of a group of people. Write a function that calculates and returns the mean, median, and standard deviation of the heights.

The function should return a dictionary where the keys are the names of the measures ('mean', 'median', 'std') and the values are the calculated measures.

#### Libraries Needed:

```python

import numpy as 
```
#### Inputs:

The function will take the following input:

A NumPy array 'heights' with the heights of the group of people. The array contains positive floats.
Expected Outputs:

The function should return a dictionary. The dictionary should have three keys: 'mean', 'median', and 'std'. The values should be the mean, median, and standard deviation of the heights, respectively. All values should be rounded to 2 decimal places.

Data:
```python
heights = np.array([170.1, 165.8, 172.8, 180.5, 168.4, 174.2, 169.5, 175.6])
```
##### Encrypted Solution:

Here's the solution, encrypted with a Caesar cipher with a shift of 3 to the right:

python
```
ghilqk_swdwvwlfdovk(dohlkwv):
    phdq = qsb.uroxqg(qsb.phdq(dohlkwv), 2)
    phgldq = qsb.uroxqg(qsb.phgldq(dohlkwv), 2)
    vwg = qsb.uroxqg(qsb.vwg(dohlkwv), 2)
    
    uhvxow = {'phdq': phdq, 'phgldq': phgldq, 'vwg': vwg}
    
    uhwxuq uhvxow
```
The shift of 3 letters to the right was applied to every letter of the solution, but not to special characters, digits or whitespaces.

In [28]:
import numpy as np
heights = np.array([170.1, 165.8, 172.8, 180.5, 168.4, 174.2, 169.5, 175.6])

In [40]:
def get_descriptive_stats(array):
    mean = round(np.mean(array),2)
    median = round(np.median(array),2)
    std_dev = round(np.std(array),2)
    descriptive_stats = {"Mean": mean,
                         "Median": median,
                         "Standard Deviation": std_dev}
    return descriptive_stats

get_descriptive_stats(heights)

{'Mean': 172.11, 'Median': 171.45, 'Standard Deviation': 4.36}

In [41]:
np.median(heights)

171.45

Making this more challenging with the following:
- '25th percentile': the 25th percentile of the heights, rounded to 2 decimal places.
- '75th percentile': the 75th percentile of the heights, rounded to 2 decimal places.
- 'normality test': a string that states either 'The distribution is normal' or 'The distribution is not normal'. The normality of the distribution is tested using the Shapiro-Wilk test. If the p-value is greater than 0.05, the function should return 'The distribution is normal'. Otherwise, it should return 'The distribution is not normal'.

In [42]:
from scipy import stats

In [48]:
def get_descriptive_stats(array):
    mean = round(np.mean(array),2)
    median = round(np.median(array),2)
    std_dev = round(np.std(array),2)
    pct_25 = round(np.percentile(heights, 75),1)
    pct_75 = round(np.percentile(heights, 75),1)
    w, pvalue = stats.shapiro(heights)
    if pvalue > 0.05:
        normality_test = 'The distribution is normal'
    else:
        normality_test = 'The distribution is not normal'
    descriptive_stats = {"Mean": mean,
                         "25th percentile": pct_25,
                         "Median": median,
                         "Standard Deviation": std_dev,
                         "75th percentile": pct_75,
                         "Normality": normality_test}
    
    return descriptive_stats
get_descriptive_stats(heights)

{'Mean': 172.11,
 '25th percentile': 174.5,
 'Median': 171.45,
 'Standard Deviation': 4.36,
 '75th percentile': 174.5,
 'Normality': 'The distribution is normal'}

The <b>Shapiro-Wilk test</b> is a statistical test that checks whether a given sample of data follows a normal distribution. It is named after Samuel Sanford Shapiro and Martin Wilk, who developed the test.

<b>The null hypothesis for the Shapiro-Wilk test is that the data are normally distributed.</b> Therefore, if the p-value returned from the test is less than the chosen significance level (commonly set at 0.05), then the null hypothesis is rejected and there is evidence to suggest that the data are not normally distributed.

In the context of the function calculate_statistics_extended, the Shapiro-Wilk test is used to check if the heights follow a normal distribution.

Here's how it works:

- The <i>stats.shapiro</i> function from the scipy library is used to perform the Shapiro-Wilk test on the heights data. The function returns two values: w and pvalue. w is the test statistic, and pvalue is the p-value of the test.
- If pvalue is greater than 0.05, the function concludes that the heights follow a normal distribution ('The distribution is normal'). This is because a p-value greater than 0.05 means that we fail to reject the null hypothesis that the data are normally distributed.
- If pvalue is less than or equal to 0.05, the function concludes that the heights do not follow a normal distribution ('The distribution is not normal'). This is because a p-value less than or equal to 0.05 means that we reject the null hypothesis that the data are normally distributed.


<b>Remember that failing to reject the null hypothesis does not prove the null hypothesis to be true.</b> It just means that there is not enough evidence to conclude that the data are not normally distributed. Similarly, rejecting the null hypothesis does not prove the alternative hypothesis to be true. It just means that there is enough evidence to conclude that the data are not normally distributed.

## Objective:
You work as a data scientist for a company. They have provided you with sales data for various products across different regions. Each row in the dataset corresponds to a sale. Your task is to write a function that calculates the average sales per product per region.

The function should also calculate a new feature: the percentage of total sales that each product accounts for within each region. For example, if product A sold 50 units in region 1, and the total sales in region 1 were 200 units, then the percentage of total sales for product A in region 1 would be 25%.

The results should be sorted in descending order by the average sales, and then by the percentage of total sales.

## Inputs:
The function, `calculate_average_sales(df: pd.DataFrame) -> pd.DataFrame`, takes in a pandas DataFrame `df` with the following columns:
- 'product' (str): The name of the product.
- 'region' (str): The region where the product was sold.
- 'sales' (int): The number of units sold.

## Outputs:
The function should return a DataFrame with the following columns:
- 'product' (str): The name of the product.
- 'region' (str): The region.
- 'average_sales' (float): The average number of units sold per product per region.
- 'percentage_of_total_sales' (float): The percentage of total sales that each product accounts for within each region.

The DataFrame should be sorted in descending order first by 'average_sales', and then by 'percentage_of_total_sales'.

## Libraries Needed:
- pandas

## Data:
Here is the sales data in JSON format:

```python
data = """
[
    {"product": "Apple", "region": "North", "sales": 100},
    {"product": "Banana", "region": "North", "sales": 150},
    {"product": "Cherry", "region": "North", "sales": 200},
    {"product": "Apple", "region": "North", "sales": 150},
    {"product": "Banana", "region": "North", "sales": 200},
    {"product": "Cherry", "region": "North", "sales": 250},
    {"product": "Apple", "region": "South", "sales": 200},
    {"product": "Banana", "region": "South", "sales": 250},
    {"product": "Cherry", "region": "South", "sales": 300},
    {"product": "Apple", "region": "South", "sales": 250},
    {"product": "Banana", "region": "South", "sales": 300},
    {"product": "Cherry", "region": "South", "sales": 350}
]
"""

In [2]:
data = [
    {"product": "Apple", "region": "North", "sales": 100},
    {"product": "Banana", "region": "North", "sales": 150},
    {"product": "Cherry", "region": "North", "sales": 200},
    {"product": "Apple", "region": "North", "sales": 150},
    {"product": "Banana", "region": "North", "sales": 200},
    {"product": "Cherry", "region": "North", "sales": 250},
    {"product": "Apple", "region": "South", "sales": 200},
    {"product": "Banana", "region": "South", "sales": 250},
    {"product": "Cherry", "region": "South", "sales": 300},
    {"product": "Apple", "region": "South", "sales": 250},
    {"product": "Banana", "region": "South", "sales": 300},
    {"product": "Cherry", "region": "South", "sales": 350}
]

In [4]:
import pandas as pd

In [26]:
sales = pd.DataFrame(data)
sales

   product region  sales
0    Apple  North    100
1   Banana  North    150
2   Cherry  North    200
3    Apple  North    150
4   Banana  North    200
5   Cherry  North    250
6    Apple  South    200
7   Banana  South    250
8   Cherry  South    300
9    Apple  South    250
10  Banana  South    300
11  Cherry  South    350

In [29]:
grouped_sales = sales.groupby(['product', 'region'], as_index=False)['sales'].sum()
total_sales = grouped_sales['sales'].sum()
grouped_sales['percentage_of_total'] = round(grouped_sales['sales'] / total_sales,4) * 100
grouped_sales

  product region  sales  percentage_of_total
0   Apple  North    250                 9.26
1   Apple  South    450                16.67
2  Banana  North    350                12.96
3  Banana  South    550                20.37
4  Cherry  North    450                16.67
5  Cherry  South    650                24.07

In [34]:
def calculate_average_sales(df):
    average_sales = df.groupby(['product', 'region'])['sales'].mean().reset_index().rename(columns={'sales': 'average_sales'})
    total_sales = df.groupby('region')['sales'].sum().reset_index().rename(columns={'sales': 'total_sales'})
    result = pd.merge(average_sales, total_sales, on='region')
    result['sales_percentage'] = round(result['average_sales'] / result['total_sales'], 4) * 100
    result = result.sort_values(by=['average_sales', 'sales_percentage'], ascending=False)
    return result

In [35]:
calculate_average_sales(sales)

  product region  average_sales  total_sales  sales_percentage
5  Cherry  South          325.0         1650             19.70
4  Banana  South          275.0         1650             16.67
2  Cherry  North          225.0         1050             21.43
3   Apple  South          225.0         1650             13.64
1  Banana  North          175.0         1050             16.67
0   Apple  North          125.0         1050             11.90