In [1]:
import pandas as pd
import numpy as np
import datetime
import random
import json

The output of your code should be the original DataFrame, but with missing values in the 'Revenue' column filled in as described, a new 'Rating Category' column, and the mean revenue for each 'Rating Category'. The mean revenue should be output as a pandas Series.

In [2]:
#movies_df = pd.read_clipboard(sep=',')
#movies_df.to_csv("movies_sample.csv", index=False)
movies_df = pd.read_csv("movies_sample.csv")

In [3]:
median_revenue = movies_df['Revenue'].median()

In [4]:
movies_df.Revenue.fillna(median_revenue, inplace=True)

In [5]:
def rate_films(x):
    if x >= 8.5:
        return "Excellent"
    elif x >= 7:
        return "Very Good"
    elif x >= 5.5:
        return "Good"
    else:
        return "Average"


movies_df["Rating Category"] = movies_df["Rating"].apply(rate_films)
movies_df

,Title,Genre,Year,Runtime,Rating,Revenue,Rating Category
0,Jurassic World,Action,2015,124,7.0,652.27,Very Good
1,Manchester by the Sea,Drama,2016,137,7.9,47.70,Very Good
2,The Circle,Thriller,2017,110,5.3,20.48,Average
3,The Avengers,Action,2012,143,8.1,623.28,Very Good
4,Toy Story 3,Animation,2010,103,8.3,414.98,Very Good
5,John Wick,Action,2014,101,7.2,43.00,Very Good
6,The Shape of Water,Fantasy,2017,123,7.4,63.86,Very Good
7,Inside Out,Animation,2015,95,8.2,356.45,Very Good
8,Frozen,Animation,2013,102,7.5,400.74,Very Good

In [7]:
movies_df.groupby("Rating Category")[['Revenue']].mean()

                 Revenue
Rating Category
Average           20.480
Very Good        325.285

In [8]:
### Generated solution
import pandas as pd
movies_df['Decade'] = movies_df['Year'].apply(lambda x: f"{x//10*10}_{x//10*10+9}")
movies_df['Revenue'] = movies_df.groupby(['Decade', 'Genre'])['Revenue'].transform(lambda x: x.fillna(x.median()))
movies_df['Rating Category'] = pd.cut(movies_df['Rating'], bins=[0,5.5,7,8.5,10], labels=['Average','Good','Very Good','Excellent'])
mean_revenue = movies_df.groupby('Rating Category').mean()['Revenue']

for the revenue null value fills, the generated answer makes a great point:
 - The expression {movies_df.groupby(['Decade', 'Genre'])['Revenue'].transform(lambda x: x.fillna(x.median()))} is an example of a more sophisticated method of data imputation, which takes into account the context of the missing data.

- In this case, you're filling in missing 'Revenue' values with the median revenue of movies that are in the same genre and were released in the same decade. This makes sense because movies from the same genre and decade are more likely to have similar revenues compared to movies from a different genre or time period. This method provides a more accurate estimate of the missing values.

- On the other hand, median_revenue = movies['Revenue'].median() calculates the median revenue across all movies, regardless of their genre or release date. If you were to fill in missing values with this median, you'd be ignoring the context in which the data is missing. For example, you'd be treating a drama movie from the 1980s the same as an action movie from the 2020s, even though these types of movies might have very different revenues.

- Therefore, the first method is generally better because it's more likely to provide an accurate estimate of the missing data. However, the best method to use always depends on the specific dataset and problem at hand.

for the rating category, I also learned a bunch.
- movies_df['Rating Category'] = pd.cut(movies_df['Rating'], bins=[0,5.5,7,8.5,10], labels=['Average','Good','Very Good','Excellent'])
- This line of code is using the pd.cut() function to create a new column in the DataFrame called 'Rating Category'. The pd.cut() function is a way to create categories (or "bins") based on numeric values. In this case, it's being used to categorize the 'Rating' column into different groups based on the rating score.

- The bins argument is specifying the boundaries for each category. The list [0,5.5,7,8.5,10] means that the categories are:

- This line of code is essentially mapping each movie's rating to a category. It's an example of "binning" or "bucketing", which are common techniques used in data analysis and machine learning to deal with continuous variables. In this case, it's being used to simplify the 'Rating' column and make it easier to analyze.

### You are given a list of dictionaries where each dictionary represents a movie. Each dictionary has the following key-value pairs:

- 'Title': The title of the movie (string).
- 'Genre': The genre of the movie (string).
- 'Year': The year the movie was released (integer).
- 'Runtime': The length of the movie in minutes (integer).
- 'Rating': The average user rating out of 10 (float).
Your task is to write a Python function that takes in this list and a genre, and returns the average rating of movies in that genre.

In addition, write an SQL query that would perform the same operation on a table with the same columns.

### Libraries Needed

- Python: None
- SQL: None (but you need to know SQL syntax)
Inputs

### The Python function average_rating_by_genre(movies: List[dict], genre: str) -> float: takes in two arguments:

- movies: a list of dictionaries where each dictionary represents a movie with the key-value pairs described above.
- genre: a string representing the genre of the movies for which you want to calculate the average rating.
The SQL query should be written assuming you have a table named movies with the same columns as the dictionaries in the Python function.

## Expected Outputs

The Python function should return a float representing the average rating of movies in the input genre.

The SQL query should return a single row with a single column (which you can call 'Average Rating') that represents the average rating of movies in the specified genre.

In [9]:
movies = [
    {'Title': 'Jurassic World', 'Genre': 'Action', 'Year': 2015, 'Runtime': 124, 'Rating': 7.0},
    {'Title': 'Inside Out', 'Genre': 'Animation', 'Year': 2015, 'Runtime': 95, 'Rating': 8.2},
    {'Title': 'Toy Story 3', 'Genre': 'Animation', 'Year': 2010, 'Runtime': 103, 'Rating': 8.3},
    {'Title': 'John Wick', 'Genre': 'Action', 'Year': 2014, 'Runtime': 101, 'Rating': 7.2},
    {'Title': 'The Circle', 'Genre': 'Thriller', 'Year': 2017, 'Runtime': 110, 'Rating': 5.3},
    {'Title': 'Manchester by the Sea', 'Genre': 'Drama', 'Year': 2016, 'Runtime': 137, 'Rating': 7.9},
    {'Title': 'The Avengers', 'Genre': 'Action', 'Year': 2012, 'Runtime': 143, 'Rating': 8.1},
    {'Title': 'Frozen', 'Genre': 'Animation', 'Year': 2013, 'Runtime': 102, 'Rating': 7.5},
    {'Title': 'The Shape of Water', 'Genre': 'Fantasy', 'Year': 2017, 'Runtime': 123, 'Rating': 7.4},
]

In [26]:
genre_ratings=[]
def average_by_genre(dictionary, genre):
    for movie in dictionary:
        if movie['Genre'] == genre:
            genre_ratings.append(movie['Rating'])
    return(round(sum(genre_ratings) / len(genre_ratings),2))

In [27]:
average_by_genre(movies, 'Fantasy')

7.4

In [28]:
for genre in ['Action', 'Animation', 'Drama', 'Fantasy', 'Thriller']:
    print(f"The average rating of {genre} movies is {average_by_genre(movies, genre)}")

The average rating of Action movies is 7.43
The average rating of Animation movies is 7.67
The average rating of Drama movies is 7.7
The average rating of Fantasy movies is 7.67
The average rating of Thriller movies is 7.43

If I did this in SQL on a table called Movies, I would use the following query:

    SELECT Genre, AVG(Rating) AS Avg_Rating, COUNT(*) AS Num_Ratings

    FROM Movies

    GROUP BY Genre

    ORDER BY Avg_Rating DESC;

### You are tasked with implementing a MovieDatabase class. The class should be initialized with a list of movies, where each movie is a dictionary with the following key-value pairs:

- 'Title': The title of the movie (string).
- 'Genre': The genre of the movie (string).
- 'Year': The year the movie was released (integer).
- 'Runtime': The length of the movie in minutes (integer).
- 'Rating': The average user rating out of 10 (float).
The MovieDatabase class should have a method average_rating_by_genre(self, genre: str) -> float: which returns the average rating of movies in the specified genre.

### Libraries Needed

- Python: None
### Inputs

The MovieDatabase class should be initialized with a movies: List[dict] argument, where movies is a list of dictionaries where each dictionary represents a movie with the key-value pairs described above.

The average_rating_by_genre method should take in a single argument:

- genre: a string representing the genre of the movies for which you want to calculate the average rating.
Expected Outputs

The average_rating_by_genre method should return a float representing the average rating of movies in the input genre.

In [30]:
class Movie:
    def __init__(self, dictionary):
        self.title = dictionary['Title']
        self.genre = dictionary['Genre']
        self.year = dictionary['Year']
        self.runtime = dictionary['Runtime']
        self.rating = dictionary['Rating']

In [35]:
movie2 = Movie(movies[2])
movie2.genre

'Animation'

In [38]:
movies_as_objects = []

for i in movies:
    movies_as_objects.append(Movie(i))

In [42]:
movies_as_objects[0].rating

7.0

Generated solution:

In [ ]:
class MovieDatabase:
    def __init__(self, movies: List[dict]):
        self.movies = movies

    def average_rating_by_genre(self, genre: str) -> float:
        genre_movies = [movie for movie in self.movies if movie['Genre'] == genre]
        average_rating = sum(movie['Rating'] for movie in genre_movies) / len(genre_movies)
        return average_rating

This took a different approach than what I ended up making, as it created a more comprehensive class that could be used to do more than just find the average rating by genre. I think this is a good approach. I also like how the class is initialized with a list of dictionaries, which is the same format as the original data.